{% extends 'forum/base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div class="content-section">
      <div class="media">
        <img class="rounded-circle account-img" src="{{ user.account.image.url }}">
        <div class="media-body">

            <legend class="border-bottom mb-4">{{ user.username }}</legend>
            <p class="text-secondary" >{{ user.email }}</p>
            <p class="text-secondary"> Reputation: {{ user.account.reputation }}</p>
            <p class="text-secondary"> Bio: {{ user.account.bio }}</p>
            <p class="text-secondary"> Favourite Town: {{ user.account.favorite_town}}</p>
            <p class="text-secondary"> Footer: {{ user.account.footer_phrase }}</p>
            <p class="text-secondary"> Games won: {{ user.account.games_won }}</p>
            <p class="text-secondary"> Games lost: {{ user.account.games_lost }}</p>

        </div>
      </div>



<div class=""content-section">

<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <fieldset class="form-group">
        <legend class = "border-bottom mb-4">Profile Details</legend>
        {{form | crispy}}
    </fieldset>
    <div class="form-group">
        <button class="btn btn-outline-info" type="submit">Save</button>
    </div>
</form>


{% endblock content %}
