{% extends 'forum/base.html' %}

{% block content %}

<div class="container">


    {% for category in categories.all %}


    <div class="media">
        <div class="media-left ">
            <img src="{{category.image.url}}" class="media-object rounded-circle" style="width:60px">
        </div>

        <div class="media-body ml-3">
            <h4 class="media-heading"><a href="{% url 'forum:forum_topics' category.name %}">{{ category.name }}</a>
            </h4>
            <p> {{category.summary}}</p>
        </div>
    </div>

    {% endfor %}

</div>


{% endblock content %}

